@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:letter"] + p,
p[epub|type~="z3998:salutation"],
p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	font-style: italic;
	text-align: right;
}

p[epub|type~="z3998:salutation"],
p[epub|type~="z3998:valediction"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
